@model CategoryDTO
@{
    Layout = "_DashboardLayout";
}

<div>
	<form method="post">
		<div class="input-group mb-3">
			<span class="input-group-text">Kategori Adı</span>
			<input type="text" class="form-control" asp-for="Name"/>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">Açıklaması</span>
			<textarea type="text" class="form-control" asp-for="Description"></textarea> 
		</div>
		<button class="btn btn-outline-success" type="submit">Kaydet</button>
	</form>
</div>

