@using MVC.Models;
@{
    ViewData["Title"] = "_DashboardLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="col-md-2 p-3 " style="float:left; ">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="Home" asp-action="Index" class="btn btn-outline-dark d-inline-flex rounded border-0 align-items-center">
                    <i class="fa-solid fa-house fa-lg"></i> &nbsp; &nbsp; <span>Home</span>
                </a>
            </li>
            <hr />
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="Employee" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    <i class="fa-solid fa-user fa-lg"> </i> &nbsp; &nbsp; <span>Çalışanlar</span>
                </a>
            </li>
            <li class="mb-1">

                <a asp-area="Entities" asp-controller="EmployeeVacation" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    &nbsp;&nbsp;<i class="fa-solid fa-user fa-lg"></i> &nbsp; &nbsp; Çalışan Kullanılan İzinleri
                </a>
            </li>
            <li class="mb-1">

                <a asp-area="Entities" asp-controller="EmployeeYearlyVacation" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    &nbsp;&nbsp;<i class="fa-solid fa-user fa-lg"></i> &nbsp; &nbsp; Çalışan Yıllık İzinleri
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="EmployeeEntryExit" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    &nbsp;&nbsp;<i class="fa-solid fa-user fa-lg"></i>
                    &nbsp; &nbsp; Çalışan Giriş Çıkışları
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="EmployeeInsuranceAction" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    &nbsp;&nbsp;<i class="fa-solid fa-user fa-lg"></i>
                    &nbsp; &nbsp; Çalışan Sigorta Hareketleri
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="Dealer" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0 ">
                    <i class="fa-solid fa-shop fa-lg"></i>
                    &nbsp; &nbsp; Bayiiler
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="Category" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    <i class="fa-solid fa-list fa-lg"></i>
                    &nbsp; &nbsp; Kategoriler
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="Product" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    <i class="fa-solid fa-box fa-lg"></i>
                    &nbsp; &nbsp;  Ürünler
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="ProductPrice" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    <i class="fa-solid fa-box fa-lg"></i>
                    &nbsp; &nbsp;  Bayiilere Göre Fiyat Listeleri
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="Sale" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0 ">
                    <i class="fa-solid fa-cart-arrow-down fa-lg"></i>
                    &nbsp; &nbsp; Kampanyalar
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="DealerStocks" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0 ">
                    <i class="fa-solid fa-boxes-stacked fa-lg"></i>
                    &nbsp; &nbsp; Stoklar
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="Order" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    <i class="fa-solid fa-tag fa-lg"></i>
                    &nbsp; &nbsp; Siparişler
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="OrderDetails" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    &nbsp;&nbsp;<i class="fa-solid fa-tags fa-lg"></i>
                    &nbsp; &nbsp;Sipariş Detayları
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="SupplierOrder" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    <i class="fa-solid fa-tag fa-lg"></i>
                    &nbsp; &nbsp; Tedarikçi Siparişleri
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="Supplier" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0">
                    <i class="fa-solid fa-truck fa-lg"></i>
                    &nbsp; &nbsp; Tedarikçiler
                </a>
            </li>
            <li class="mb-1">
                <a asp-area="Entities" asp-controller="SupplierContracts" asp-action="Index" class="btn btn-outline-dark d-inline-flex align-items-center rounded border-0 ">
                    <i class="fa-solid fa-file-lines fa-lg"></i>
                    &nbsp; &nbsp; Tedarikçi Sözleşmeleri
                </a>
            </li>
        </ul>
        <hr />
    </div>
    <div class="col-md-10 p-3 " style="float:left; ">
        @RenderBody()
    </div>
</div>

@*@{
    var statusCode = TempData["Result"];

    var alertType = "";
    var alertHeader = "";
    var alertMessage = "";

    switch (statusCode)
    {
        case System.Net.HttpStatusCode.OK:
            alertType = "Success";
            alertHeader = "Success";
            alertMessage = "Success";
            return;
        case System.Net.HttpStatusCode.BadRequest:
            alertType = "Error";
            alertHeader = "Error";
            alertMessage = "Error";
            return;
    }
}*@
<script>
    function confirmDelete(link) {
        return Swal.fire({
            title: 'Silmek İstediğinize Emin misiniz?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'İptal',
            confirmButtonText: 'Sil!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = link;
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('.table-hover').DataTable({
            select: true,
        });
    });
</script>