@model EmployeeDTO
@{
    Layout = "_DashboardLayout";
}

<div>
    <form method="post">
        <span class="errorMessage" asp-validation-for="FirstName"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">İsim</span>
            <input type="text" class="form-control" asp-for="FirstName" />
        </div>
        <span class="errorMessage" asp-validation-for="LastName"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Soyisim</span>
            <input type="text" class="form-control" asp-for="LastName"/>
        </div>
        <span class="errorMessage" asp-validation-for="Department"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Departman</span>
            <input type="text" class="form-control" asp-for="Department" />
        </div>
        <span class="errorMessage" asp-validation-for="Title"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Unvan</span>
            <input type="text" class="form-control" asp-for="Title" />
        </div>
        <span class="errorMessage" asp-validation-for="EducationLevel"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Eğitim Seviyesi</span>
            <input type="text" class="form-control" asp-for="EducationLevel" />
        </div>
        <span class="errorMessage" asp-validation-for="HiredDate"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">İşe Alınma Tarihi</span>
            <input type="date" class="form-control" asp-for="HiredDate" />
        </div>
        <span class="errorMessage" asp-validation-for="FullAddress"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Açık Adres</span>
            <textarea type="text" class="form-control" asp-for="FullAddress"></textarea>
        </div>
        <span asp-validation-for="DealerId"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Bayii</span>
            <select class="form-select " asp-for="DealerId" class="form-control">
                @if (ViewBag.Dealers == null)
                {
                    <option value="0">"Bayii Yok"</option>
                }
                @foreach (var dealer in ViewBag.Dealers as List<DealerModel>)
                {
                    <option value="@dealer.Id">@dealer.Name</option>
                }
            </select>
        </div>
        <button class="btn btn-outline-success" type="submit">Kaydet</button>
    </form>
</div>
