@model SaleDTO
@{
	ViewData["Title"] = "Create";
	Layout = "~/Areas/Entities/Views/Shared/_DashboardLayout.cshtml";
}
<div>
	<form method="post">
		<span class="errorMessage" asp-validation-for="StartDate"></span>
		<div class="input-group mb-3">
			<span class="input-group-text">Başlangıç Tarihi</span>
			<input type="date" class="form-control" asp-for="StartDate" />
		</div>
		<span class="errorMessage" asp-validation-for="EndDate"></span>
		<div class="input-group mb-3">
			<span class="input-group-text">Bitiş Tarihi</span>
			<input type="date" class="form-control" asp-for="EndDate" />
		</div>
		<span class="errorMessage" asp-validation-for="Discount"></span>
		<div class="input-group mb-3">
			<span class="input-group-text">İskonto (%)</span>
			<input type="number" min="0" max="100" class="form-control" asp-for="Discount" />
		</div>
		<span class="errorMessage" asp-validation-for="Description"></span>
		<div class="input-group mb-3">
			<span class="input-group-text">Açıklama</span>
			<textarea type="text" class="form-control" asp-for="Description"></textarea>
		</div>
		<div class="form-check">
			<input asp-for="IsForAllProducts" class="form-check-input" type="checkbox" id="first">
			<label class="form-check-label" for="first">
				Bütün Ürünler İçin Geçerli Mi ?
			</label>
		</div>
		<div class="mb-3">
			<span>Ürün Seçimi</span>
			<select asp-for="Productids" id="selectForProducts" class="form-select form-control" multiple>
				@foreach (var item in ViewBag.Products as List<ProductModel>)
				{
					<option value="@item.Id">@item.ProductName</option>
				}
			</select>
		</div>
		<div class="form-check">
			<input asp-for="IsForAllDealers" class="form-check-input" type="checkbox" id="second">
			<label class="form-check-label" for="second">
				Bütün Bayiiler İçin Geçerli Mi ?
			</label>
		</div>
		<div class="mb-3">
			<span>Bayii Seçimi</span>
			<select asp-for="Dealerids" id="selectForDealers" class="form-select form-control" multiple>
				@foreach (var item in ViewBag.Dealers as List<DealerModel>)
				{
					<option value="@item.Id">@item.Name</option>
				}
			</select>
		</div>
		<button class="btn btn-outline-success" type="submit">Kaydet</button>
	</form>
</div>
<script>
	window.onload = function chosenFunction() {
		$("#selectForProducts").chosen();
		$("#selectForDealers").chosen();

	}
</script>

