@using Entity.Identity;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> _userManager;
@inject SignInManager<AppUser> _signinManager;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Identity/Views/Shared/_IdentityLayout.cshtml";
}

<span>@_userManager.GetUserName(User)</span>
