@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
