@model EmployeeVacationDTO
@{
    ViewData["Title"] = "CreateEmployeeVacation";
    Layout = "~/Areas/Entities/Views/Shared/_DashboardLayout.cshtml";
}
<div>
    <form method="post">
        <span class="errorMessage" asp-validation-for="EmployeeName"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Çalışan Adı</span>
            <select class="form-select" asp-for="EmployeeId" class="form-control">
                @foreach (var emp in ViewBag.Employees as IEnumerable<EmployeeModel>)
                {
                    <option value="@emp.Id">@emp.FirstName @emp.LastName</option>
                }
            </select>
        </div>
        <span class="errorMessage" asp-validation-for="VacationStart"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Başlangıç Tarihi</span>
            <input type="date" class="form-control" asp-for="VacationStart" />
        </div>
        <span class="errorMessage" asp-validation-for="VacationEnd"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Bitiş Tarihi</span>
            <input type="date" class="form-control" asp-for="VacationEnd" />
        </div>
        <div class="form-check">
            <input asp-for="IsApproved" class="form-check-input" type="checkbox"  id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Onaylı Mı ?
            </label>
        </div>
        <button class="btn btn-outline-success" type="submit">Kaydet</button>
    </form>
</div>
