@model EmployeeVacationDTO
@{
    ViewData["Title"] = "UpdateEmployeeVacation";
    Layout = "~/Areas/Entities/Views/Shared/_DashboardLayout.cshtml";
}

<div>
    <form method="post">
        <div class="input-group mb-3">
            <span class="input-group-text">Çalışan Adı</span>
            <select class="form-select" asp-for="EmployeeName" class="form-control">
                @foreach (var emp in ViewBag.Employees as IEnumerable<Employee>)
                {
                    <option>@emp.FirstName</option>
                }
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Başlangıç Tarihi</span>
            <input type="datetime" class="form-control" asp-for="VacationStart" />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Bitiş Tarihi</span>
            <input type="datetime" class="form-control" asp-for="VacationEnd" />
        </div>
        <button class="btn btn-outline-success" type="submit">Kaydet</button>
    </form>
</div>

