@model EmployeeInsuranceActionDTO
@{
    ViewData["Title"] = "UpdateEmployeeInsurance";
    Layout = "~/Areas/Entities/Views/Shared/_DashboardLayout.cshtml";
}
<div>
    <form method="post">
        <span class="errorMessage" asp-validation-for="EmployeeName"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Çalışan Adı</span>
            <select class="form-select" asp-for="EmployeeName" class="form-control">
                @foreach (var emp in ViewBag.Employees as IEnumerable<EmployeeModel>)
                {
                    <option>@emp.FirstName</option>
                }
            </select>
        </div>
        <span class="errorMessage" asp-validation-for="Date"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Tarih</span>
            <input type="datetime" class="form-control" asp-for="Date" />
        </div>
        <span class="errorMessage" asp-validation-for="Hospital"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Hastane</span>
            <input type="text" class="form-control" asp-for="Hospital" />
        </div>
        <span class="errorMessage" asp-validation-for="Operation"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Açıklama</span>
            <input type="text" class="form-control" asp-for="Operation" />
        </div>
        <button class="btn btn-outline-success" type="submit">Kaydet</button>
    </form>
</div>