@model SupplierContractDTO
@{
    ViewData["Title"] = "UpdateSupplierContract";
    Layout = "~/Areas/Entities/Views/Shared/_DashboardLayout.cshtml";
}


<span class="mt-2" style="font-family: sans-serif; font-size: 24px">Sözleşme Güncelle</span>
<div>
    <form method="post">
        <span class="errorMessage" asp-validation-for="ProductName"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Ürünler</span>
            <select class="form-select " asp-for="ProductName" class="form-control">
                @foreach (var item in ViewBag.Products as List<Product>)
                {
                    <option>@item.ProductName</option>
                }
            </select>
        </div>
        <span class="errorMessage" asp-validation-for="Price"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Adet Fiyat</span>
            <input type="number" class="form-control" asp-for="Price" />
        </div>
        <span class="errorMessage" asp-validation-for="Amount"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Miktar</span>
            <input type="number" class="form-control" asp-for="Amount" />
        </div>
        <span class="errorMessage" asp-validation-for="ShippingCost"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Kargo Fiyatı</span>
            <input type="number" class="form-control" asp-for="ShippingCost" />
        </div>
        <span class="errorMessage" asp-validation-for="SupplierName"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Tedarikçi</span>
            <select class="form-select " asp-for="SupplierName" class="form-control">
                @foreach (var item in ViewBag.Suppliers as List<Supplier>)
                {
                    <option>@item.CompanyName</option>
                }
            </select>
        </div>
        <span class="errorMessage" asp-validation-for="ContractSignDate"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Kontrat Başlangıç Tarihi</span>
            <input type="date" class="form-control" asp-for="ContractSignDate" />
        </div>
        <span class="errorMessage" asp-validation-for="ContractEndDate"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Kontrat Bitiş Tarihi</span>
            <input type="date" class="form-control" asp-for="ContractEndDate" />
        </div>
        <span class="errorMessage" asp-validation-for="PaymentDate"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Son Ödeme Tarihi</span>
            <input type="date" class="form-control" asp-for="PaymentDate" />
        </div>
        <button class="btn btn-outline-success" type="submit">Kaydet</button>
    </form>
</div>
