@model OrderDetailsDTO
@{
    ViewData["Title"] = "UpdateOrderDetails";
    Layout = "~/Areas/Entities/Views/Shared/_DashboardLayout.cshtml";
}


<div>
    <form method="post">
        <span class="errorMessage" asp-validation-for="ProductName"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Ürün</span>
            <select class="form-select " asp-for="ProductName" class="form-control">
                @foreach (var product in ViewBag.Products as IEnumerable<Product>)
                {
                    @if (product.PotentialSalesGrade > 5 && product.State != EntityState.Deleted)
                    {
                        <option>@product.ProductName</option>
                    }
                }
            </select>
        </div>
        <span class="errorMessage" asp-validation-for="OrderId"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Siparişler</span>
            <select class="form-select " asp-for="OrderId" class="form-control">
                @foreach (var order in ViewBag.Orders as IEnumerable<Order>)
                {
                    if (order.State != EntityState.Deleted)
                    {
                        <option>@order.Id</option>
                    }
                }
            </select>
        </div>
        <span class="errorMessage" asp-validation-for="Amount"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Miktar</span>
            <input type="number" class="form-control" asp-for="Amount" />
        </div>
        <span class="errorMessage" asp-validation-for="Price"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Fiyat</span>
            <input type="number" class="form-control" asp-for="Price" />
        </div>
        <button class="btn btn-outline-success" type="submit">Kaydet</button>
    </form>
</div>

