@{
    ViewData["Title"] = "RunSale";
    Layout = "~/Areas/Entities/Views/Shared/_DashboardLayout.cshtml";
}
<form method="post">
    <div class="mb-3">
        <span>Ürün Seçimi</span>
        <select id="selectForProducts" class="form-select form-control" multiple>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
        </select>
    </div>
    <div class="mb-3">
        <span>Bayii Seçimi</span>
        <select id="selectForDealers" class="form-select form-control" multiple>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
        </select>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">İndirim Yüzdesi %</span>
        <input type="number" class="form-control"/>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">İndirim Başlangıç</span>
        <input type="date" class="form-control"/>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">İndirim Bitiş</span>
        <input type="date" class="form-control" />
    </div>
</form>


<script>
    window.onload = function chosenFunction() {
        $("#selectForProducts").chosen();
        $("#selectForDealers").chosen();

    }
</script>

