@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
@*<div class="container">
    <div class="row">
        <h2>Evimikur E-Posta Doğrulama</h2><br />
        <hr /><br />
        <img src="https://pbs.twimg.com/media/EaFYbaxXsAMN2N1.jpg" style="height:300px;width:250px;"/>
        <span>Bu E-Posta EvimiKur sitesinde açmış olduğunuz "*KULLANICI ADI*" isimli hesabınızın doağrulanması için gönderilmiştir.</span><br />
        <br />
        <span>E-Postanızı doğrulamak için aşşağıda bulunan linke tıklayınız.</span><br />
        <span>Doğrulama Linki : <a>http://localhost:5103/Identity/Account/EmailValidation/ID-OF-USER/TOKEN-FOR-USER</a> </span><br />
    </div>
</div>
*@