@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center mt-5">
            <ul class="list-unstyled ps-0">
                <li class="mb-4"><center><i class="fa-solid fa-lock fa-2xl"></i></center></li>
                <li><h1>Sayfaya Erişim İzniniz Yok!</h1></li>
                @if (ViewBag.Page != null)
                {
                    <li><center><h3>@ViewBag.Page sayfası açılamadı.</h3></center></li>
                }
            </ul>
        </div>
    </div>
</div>

