@using System.Web.Helpers;

@{
    ViewData["Title"] = "ValidateEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebMail.Send(
            to: "abdullaharslanvi@gmail.com",
            subject: "Testing Auto Mail Sender",
            body: "Test"
        );
}

<h1>SOMETHING SOMETHING EMAIL SHOULD BE SENT</h1>
