@model ProductDto
@{
    Layout = "_DashboardLayout";
}
<span class="mt-2" style="font-family: sans-serif; font-size: 24px">Ürün Oluştur</span>
<div>
    <form method="post">
        <span class="errorMessage" asp-validation-for="Name"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Ürün Adı</span>
            <input type="text" class="form-control" asp-for="Name" />
        </div>
        <span class="errorMessage" asp-validation-for="Description"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Açıklama</span>
            <input type="text" class="form-control" asp-for="Description" />
        </div>
        <span class="errorMessage" asp-validation-for="Category"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Kategori</span>
            <select class="form-select" asp-for="Category" class="form-control">
                @foreach (var category in ViewBag.Categories as List<CategoryModel>)
                {
                    <option>@category.Name</option>
                }
            </select>
        </div>
        <span class="mt-2" style="font-family: sans-serif; font-size: 20px">Satınalma Departman Notu</span>
        <hr />
        <span class="errorMessage" asp-validation-for="LooksGrade"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Dış Görünüş</span>
            <input id="n1" type="number" class="form-control" asp-for="LooksGrade" />
        </div>
        <span class="errorMessage" asp-validation-for="UsabilityGrade"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Kullanılabilirlik</span>
            <input id="n2" type="number" class="form-control" asp-for="UsabilityGrade" />
        </div>
        <span class="errorMessage" asp-validation-for="FunctionalityGrade"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Fonksiyonellik</span>
            <input id="n3" type="number" class="form-control" asp-for="FunctionalityGrade" />
        </div>
        <span class="errorMessage" asp-validation-for="InnovativeGrade"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Yenilikçilik</span>
            <input id="n4" type="number" class="form-control" asp-for="InnovativeGrade" />
        </div>
        <span class="errorMessage" asp-validation-for="PriceAdvantageGrade"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Fiyat Avantajı</span>
            <input id="n5" type="number" class="form-control" asp-for="PriceAdvantageGrade" />
        </div>
        <span class="errorMessage" asp-validation-for="PotentialSalesGrade"></span>
        <div class="input-group mb-3">
            <span class="input-group-text">Ürün Potansiyel Satış Kriter Notu :</span>
            <input readonly id="averageGrade" type="number" class="form-control" asp-for="PotentialSalesGrade" />
        </div>
        <button class="btn btn-outline-success" type="submit">Kaydet</button>
    </form>
</div>
<script>
    function calculateAverage() {
        var n1 = parseFloat(document.getElementById("n1").value);
        var n2 = parseFloat(document.getElementById("n2").value);
        var n3 = parseFloat(document.getElementById("n3").value);
        var n4 = parseFloat(document.getElementById("n4").value);
        var n5 = parseFloat(document.getElementById("n5").value);

        var average = (n1 + n2 + n3 + n4 + n5) / 5;
        document.getElementById("averageGrade").value = average;
    }
    setInterval(calculateAverage, 20);
</script>

